/build
node_modules
/coverage
.DS_Store
out

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.next

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
