@font-face {
  font-family: 'Apercu';
  src: local('Apercu'),
    url('../static/fonts/Apercu-Light.woff2') format('woff2'),
    url('../static/fonts/Apercu-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu';
  src: local('Apercu'),
    url('../static/fonts/Apercu-Regular.woff2') format('woff2'),
    url('../static/fonts/Apercu-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu';
  src: local('Apercu'),
    url('../static/fonts/Apercu-Medium.woff2') format('woff2'),
    url('../static/fonts/Apercu-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu';
  src: local('Apercu'), url('../static/fonts/Apercu-Bold.woff2') format('woff2'),
    url('../static/fonts/Apercu-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fcfeff;
  font-family: 'Apercu', sans-serif;
  color: #4c4c4c;
  margin: 0;
  padding: 0;
  font-display: swap;
}
