.experience {
  margin-bottom: 20px;
  display: flex;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-top: 10px;
}

.company {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.companyName {
  line-height: 45px;
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.role {
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  width: 100%;
}

.role span {
  text-align: right;
  float: right;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}
