.wrapper {
  display: flex;
  flex-direction: column;
  height: 75vh;
  justify-content: center;
  text-align: center;
}

.wrapper a,
.wrapper a:visited {
  color: #ee5050;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.wrapper a:hover {
  font-weight: bold;
}

@media (min-width: 768px) {
  .wrapper {
    height: 85vh;
  }
}
