.wrapper {
  position: relative;
  overflow: hidden;
}

.content {
  padding-top: 35vh;
  padding-bottom: 35vh;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introText {
  font-weight: 300;
  font-size: 28px;
  color: #fff;
}

.introText span {
  font-weight: bold;
}

.introSection {
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  max-width: 750px;
}

.introSection a,
.introSection a:visited {
  font-weight: normal;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  position: relative;
  color: #fff;
  border-bottom: 2px solid transparent;
}

.introSection a:hover {
  border-bottom: 2px solid #fff;
}

.profilePhoto {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  z-index: 1;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .content {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .introText {
    font-size: 35px;
  }

  .profilePhoto {
    width: 170px;
    height: 170px;
    margin-right: 80px;
    margin-bottom: 0;
  }
}
