.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  padding: 0 20px;
}

.introText {
  font-weight: 300;
  font-size: 35px;
  color: #4c4c4c;
}

.introText span {
  font-weight: bold;
}

.introSection {
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  max-width: 750px;
}

.introSection a,
.introSection a:visited {
  font-weight: normal;
  transition: all 0.3s ease;
  text-decoration: none;
  position: relative;
  color: #4c4c4c;
  font-weight: normal;
  border-bottom: 2px solid transparent;
}

.introSection a:hover {
  border-bottom: 2px solid #4c4c4c;
}

.profilePhoto {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-right: 80px;
  z-index: 1;
}

.blobWrapper {
  position: absolute;
  transform: translateX(-30%);
}
