.wrapper {
  display: grid;
  margin: 40px auto;
  max-width: 1000px;
  grid-template-columns: 35% 65%;
}

.heading {
  font-weight: 700;
  line-height: 45px;
  font-size: 18px;
  text-align: right;
  text-transform: uppercase;
  margin: 0;
}

.content {
  padding-left: 100px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
}

.content h3 {
  font-size: 18px;
  line-height: 45px;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px 0 0;
  padding: 0;
}

.content ul {
  list-style: none;
  flex-grow: 1;
}

.content a,
.content a:visited {
  color: #ee5050;
  font-size: 22px;
  font-size: bold;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.content a:hover {
  border-bottom: 2px solid #ee5050;
}
