.wrapper {
  position: absolute;
  height: 100vh;
  position: absolute;
  width: 200%;
  left: -79%;
}

@media (min-width: 768px) {
  .wrapper {
    width: 110%;
    height: 100%;
    left: 0;
    right: 0;
  }
}
